{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Редактирование новости'|trans}}</h1>

    {{ form(edit_form,{'style':'horizontal'}) }}

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('manager_post') }}">
                {{'Назад'|trans}}
            </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            {{ form(delete_form) }}
        </div>
    </div>
<script type="text/javascript">
$('#alkr_cmsbundle_post_title').blur(function(){
	$('#alkr_cmsbundle_post_url').val($(this).val().replace(/ /g,'-').replace(/[^-а-яА-Я0-9\w]/g,'').toLowerCase())
})
</script>
{% endblock %}
