{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Post list'|trans}}</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>{{'Заголовок'|trans}}</th>
                <th>{{'Дата'|trans}}</th>
                <th>{{'Аннотация'|trans}}</th>
                <th>{{'Действия'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.annotation }}</td>
                <td>
                    <a href="{{ path('manager_post_edit', { 'id': entity.id }) }}">{{'Редактировать'|trans}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('manager_post_new') }}">
                {{'Создать'|trans}}
            </a>
        </li>
    </ul>
    {% endblock %}
