{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'FAQ list'|trans}}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{'Вопрос'|trans}}</th>
                <th>{{'Ответ'|trans}}</th>
                <th>{{'Действия'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.question }}</td>
                <td>{{ entity.answer }}</td>
                <td>
                    <a href="{{ path('manager_faq_edit', { 'id': entity.id }) }}">{{'редактировать'|trans}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('manager_faq_new') }}">
                {{'Создать'|trans}}
            </a>
        </li>
    </ul>
    {% endblock %}
