{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>FAQ</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ entity.answer }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('manager_faq') }}">
                {{'Назад'|trans}}
            </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-warning" href="{{ path('manager_faq_edit', { 'id': entity.id }) }}">
                {{'Редактировать'|trans}}
            </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
