{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>FAQ</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ entity.answer }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_faq') }}">
            {{'Назад'|trans}}
        </a>
    </li>
    <li>
        <a href="{{ path('manager_faq_edit', { 'id': entity.id }) }}">
            {{'Редактировать'|trans}}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
