{% extends 'CMSBundle:Base:base.html.twig' %}

{% block body %}
    <h1 class="title">{{'Login'|trans}}</h1>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">{{'Username'|trans}}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">{{'Password'|trans}}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">{{'Login'|trans}}</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

{#{% set code = code(_self) %}#}