{% extends "CMSBundle:Templates:"~template|default(cms.base_template)~".html.twig" %}

{% block body %}
    <h1 class="title">{{'Login'|trans}}</h1>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">{{'Username'|trans}}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">{{'Password'|trans}}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="btn-bg btn btn-primary">
            {{'Login'|trans}}
        </button>
    </form>
{% endblock %}

{#{% set code = code(_self) %}#}