{% extends "CMSBundle:Templates:one_sidebar.html.twig" %}

{% block header %}
{% endblock %}

{% block sidebar %}
	<ul class="nav">
		<li><a href="{{ path('manager_index') }}">{{'Меню'|trans}}</a>
		    <ul class="menu_level_1 nav">
		    	{% if cms.modules.posts %}<li><a href="{{ path('manager_post') }}">{{'Управление новостями'|trans}}</a></li>{% endif %}
		    	{% if cms.left_sidebar.banner or cms.right_sidebar.banner %}<li><a href="{{ path('manager_banner') }}">{{'Управление баннерами'|trans}}</a></li>{% endif %}
		    	{% if cms.header.slider %}<li><a href="{{ path('manager_slide') }}">{{'Управление слайдами'|trans}}</a></li>{% endif %}
		    	{% if cms.footer.faq %}<li><a href="{{ path('manager_faq') }}">{{'Вопросы и ответы'|trans}}</a></li>{% endif %}
                {% if cms.modules.redirects %}<li><a href="{{ path('manager_redirect') }}">{{'Карта перенаправлений'|trans}}</a></li>{% endif %}
		    	<li><a href="{{ path('index') }}">{{'В общедоступную часть'|trans}}</a></li>
		    </ul>
		</li>
	</ul>
{% endblock %}

{% block body -%}
    <h1>{{'Добро пожаловать в админку!'|trans}}</h1>
    <a href="{{ path('page_new') }}"><button class="btn btn-primary">{{'Создать страницу'|trans}}</button></a>

    <ul>
    {% for page in repo.children(null,true,'prior') %}
    	{{ _self.display_tree(repo,page) }}
	{% endfor %}
    </ul>

	{% macro display_tree(repo,page) %}
        <li{% if not page.enabled %} class="muted"{% endif %}>{{ page.title }} <a href="{{ path('page_edit',{'id':page.id}) }}">{{ icon('pencil') }}</a>
        {% if repo.children(page,true)|default() %}
        	<ul>
            {% for child in repo.children(page,true,'prior') %}
                {{ _self.display_tree(repo,child) }}
            {% endfor %}
        	</ul>
        {% endif %}
        </li>
	{% endmacro %}

{% endblock %}
