{% extends "CMSBundle:Templates:two_sidebars.html.twig" %}

{% block header %}
{% endblock %}

{% block style %}
{% stylesheets filter="compass" debug=true
        "@CMSBundle/Resources/assets/css/one_sidebar.sass"
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block sidebar %}
	<ul class="nav">
		<li><a href="{{ path('manager_index') }}">{{'Меню'|trans}}</a>
		    <ul class="menu_level_1 nav">
		    	{#<li><a href="{{ path('page') }}">Управление страницами</a></li>#}
		    	{% if sidebar.posts or sidebar2.posts %}<li><a href="{{ path('manager_post') }}">{{'Управление новостями'|trans}}</a></li>{% endif %}
		    	{% if sidebar.banner or sidebar2.banner %}<li><a href="{{ path('manager_banner') }}">{{'Управление баннерами'|trans}}</a></li>{% endif %}
		    	{% if header.slider %}<li><a href="{{ path('manager_slide') }}">{{'Управление слайдами'|trans}}</a></li>{% endif %}
		    	{% if footer.faq %}<li><a href="{{ path('manager_faq') }}">{{'Вопросы и ответы'|trans}}</a></li>{% endif %}
		    	<li><a href="{{ path('index') }}">{{'В общедоступную часть'|trans}}</a></li>
		    </ul>
		</li>
	</ul>
{% endblock %}

{% block body -%}
    <h1>{{'Добро пожаловать в админку!'|trans}}</h1>
    <a href="{{ path('page_new') }}"><button class="btn btn-primary">{{'Создать страницу'|trans}}</button></a>

    <ul>
    {% for page in repo.children(null,true) %}
    	{{ _self.display_tree(repo,page) }}
	{% endfor %}
    </ul>

	{% macro display_tree(repo,page) %}
        <li{% if not page.enabled %} class="muted"{% endif %}>{{ page.title }} <a href="{{ path('page_edit',{'id':page.id}) }}">{{ icon('pencil') }}</a>
        {% if repo.children(page,true)|default() %}
        	<ul>
            {% for child in repo.children(page,true) %}
                {{ _self.display_tree(repo,child) }}
            {% endfor %}
        	</ul>
        {% endif %}
        </li>
	{% endmacro %}

{% endblock %}
