{% extends 'CMSBundle:Templates:'~entity.view|default(cms.base_template)~".html.twig" %}
{% block title %}{% if entity.metaTitle %}{{entity.metaTitle}} - {% endif %}{% if entity.title %}{{entity.title}} - {% endif %}{% endblock %}
{% block metakeywords %}{% if entity.keywords %}<meta name="keywords" content="{{entity.keywords}}">{% endif %}{% endblock %}
{% block metadescription %}{% if entity.description %}<meta name="description" content="{{entity.description}}">{% endif %}{% endblock %}
{% block body %}
    <h1>{{entity.title}}</h1>
    <div class="inner">
        {% include 'CMSBundle:Block:breadcrumbs.html.twig' with {'entity': entity} %}
        {% if entity.annotation %}<div class="page_annotation">{{ entity.annotation }}</div>{% endif %}
        {% if cms.children_type != 'none' and children|length > 0 %}
        {% if cms.children_type == 'preview' %}
        <div class="children">
        {% else %}
        <ul class="children">
        {% endif %}
            {% for child in children %}
            {% if cms.children_type == 'preview' and loop.index % 2 == 1 %}<div class="row">{% endif %}
                {% if cms.children_type == 'preview' %}
                <div class="child col-sm-6 text-center">
                    <a href="{{ path('page_show',{'url':child.path}) }}">
                        {% if child.preview|length > 0 %}<div class="thumbnail"><img src="{{child.preview|apply_filter('gallery_thumb')}}"/></div>{% endif %}
                        <div class="title">{{child.title}}</div>
                    </a>
                </div>
                {% else %}
                <li>
                    <a href="{{ path('page_show',{'url':child.path}) }}">{{child.title}}</a>
                </li>
                {% endif %}
            {% if cms.children_type == 'preview' and (loop.index % 2 == 0 or loop.last) %}</div>{% endif %}
            {% endfor %}
        {% if cms.children_type == 'preview' %}
        </div>
        {% else %}
        </ul>
        {% endif %}
        {% endif %}
        {{ entity.content|raw }}
        {% if entity.photos|length > 0 %}
        {% for photo in entity.photos %}
        {% if loop.index % 4 == 1 %}
        <!-- <div class="row"> -->
        {% endif %} 
        <div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12"><a href="{{ photo }}" class="thumbnail" data-imagelightbox="a" title="{{ photo.description|default('picture'~photo.id) }}"><img src="{{ photo | apply_filter('gallery_thumb') }}" alt="{{ photo.description|default('picture'~photo.id) }}"/></a></div>
        {% if loop.index % 4 == 0 or loop.last%}
        <!-- </div> -->
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if map is defined %}
        <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
        <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map('map', {
                center: [{{ entity.mapCenter.lng|default('55.753994') }}, {{ entity.mapCenter.lat|default('37.622093') }}],
                zoom: 13,
                behaviors: ['default']
            });

            {% for metka in entity.mapItems %}
                     var myPlacemark{{metka.id}} = new ymaps.Placemark([{{metka.lng}},{{metka.lat}}], {
                     iconContent: '{{metka.baloon}}',
                     balloonContent: '{{metka.text|raw}}'
                     }, {
                        preset: 'twirl#violetStretchyIcon'
                     });
                     myMap.geoObjects.add(myPlacemark{{metka.id}});
            {% endfor %}

            {% if entity.mapItems|length == 0 %}
            ymaps.geocode('{{"Брест, Беларусь, 224014"|trans}}', {
                /**
                 * Опции запроса
                 * @see http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/geocode.xml
                 */
                // boundedBy: myMap.getBounds(), // Сортировка результатов от центра окна карты
                // strictBounds: true, // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy
                results: 1 // Если нужен только один результат, экономим трафик пользователей
            }).then(function (res) {
                    // Выбираем первый результат геокодирования.
                    var firstGeoObject = res.geoObjects.get(0),
                        // Координаты геообъекта.
                        coords = firstGeoObject.geometry.getCoordinates(),
                        // Область видимости геообъекта.
                        bounds = firstGeoObject.properties.get('boundedBy');

                    // Добавляем первый найденный геообъект на карту.
                    // myMap.geoObjects.add(firstGeoObject);
                    // Масштабируем карту на область видимости геообъекта.
                    myMap.setBounds(bounds, {
                        checkZoomRange: true // проверяем наличие тайлов на данном масштабе.
                    });

                    /**
                     * Если нужно добавить по найденным геокодером координатам метку со своими стилями и контентом балуна, создаем новую метку по координатам найденной и добавляем ее на карту вместо найденной.
                     */
                    
                     var myPlacemark = new ymaps.Placemark(coords, {
                     iconContent: '{{"baloon"|trans}}',
                     balloonContent: '<h2>{{"baloon_text"|trans}}</h2>'
                     }, {
                        preset: 'twirl#violetStretchyIcon'
                     });
                     myMap.geoObjects.add(myPlacemark);
                     
                     myMap.container.fitToViewport();
                });
            {% endif %}
        }
        </script>
        <div id="map"></div>
        {% endif %}
        {% if form is defined %}
        {{ form(form,{'style':'horizontal'}) }}
        {% endif %}
        {% if cms.modules.comments %}
        <br/>
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id} %}
        {% endif %}
    </div>
{% endblock %}