{% extends "CMSBundle:Templates:"~template|default(cms.base_template) %}

{% block title %}{{entity.title}}{% endblock %}
{#{% block metakeywords %}{% if entity.keywords %}<meta name="keywords" content="{{entity.keywords}}">{% endif %}{% endblock %}
{% block metadescription %}{% if entity.description %}<meta name="description" content="{{entity.description}}">{% endif %}{% endblock %}#}
{% block body %}
    <h1>{{entity.title}}</h1>
    <h3>{{entity.date|date('d.m.Y')}}</h3>
    {{ entity.content|raw }}
    {% if cms.modules.comments %}
    <br/>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id} %}
    {% endif %}
{% endblock %}