{% extends "CMSBundle:Templates:"~template|default(base_template) %}

{% block body -%}
    <h1>{{'Карта сайта'|trans}}</h1>

    {% for cat in categories %}
    {% if cat.topPages|length > 0 %}
    <h3>{{cat.name}}</h3>
    <ul>
    {% for page in cat.topPages %}
	    <li>
	        {{page.title}}{% if page.children|length > 0 %}
	        <ul>
	            {% for child in page.children %}
	            <li>{{child.title}}{% if child.children|length > 0 %}
			        <ul>
			            {% for grandchild in page.children %}
			            <li>{{grandchild.title}}</li>
			            {% endfor %}
			        </ul>
			        {% endif %}</li>
	            {% endfor %}
	        </ul>
	        {% endif %}
	    </li>
    {% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
{% endblock %}
