<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% endblock %}{{'title'|trans}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metakeywords %}{% endblock %}
    {% block metadescription %}{% endblock %}
    <!-- Bootstrap -->
    {% block style %}
    {% stylesheets filter="compass" debug=true
        "@CMSBundle/Resources/assets/css/two_sidebars.sass"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css'
                   '@CMSBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
    {#<link href="{{ asset('/bundles/cms/css/style.css') }}" rel="stylesheet" media="screen">#}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% if header.navbar.fixed %}
    <style type="text/css">
    body {margin-top:50px;}
    </style>
    {% endif %}

</head>

<body>
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>

    {% javascripts debug=false filter='uglifyjs2'
        '@CMSBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <div id="wrap">
        {% if header.navbar.enabled %}
            {% include 'CMSBundle:Base:navbar.html.twig' %}
        {% endif %}
        {% block header %}
        {% endblock %}
        {% block content %}
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    <div id="footer">
        {% if header.navbar.narrow %}<div class="container">{% endif %}
            <div class="navbar {% if header.navbar.inverse %}navbar-inverse{% else %}navbar-default{% endif %}{% if not header.navbar.narrow %} navbar-static-bottom{% endif %}" role="navigation">
                {% if not header.navbar.narrow %}<div class="container">{% endif %}
                {% if footer.menu %}
                <div class="navbar-footer">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-ex2-collapse">
                    <span class="sr-only">{{'Toggle navigation'|trans}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ path('index')}}">Wide-web</a>#}
                </div>
                <div class="navbar-collapse collapse navbar-ex2-collapse">
                    {{ knp_menu_render('CMSBundle:Builder:footerMenu',{'style':'navbar'}) }}
                </div><!--/.nav-collapse -->
                {% endif %}
                <div class="left">Copyright &copy; {{'копирайт с какого года'|trans}}-{{date()|date('Y')}} &mdash; {{'Название компании'|trans}}</div>
                <div class="right">{{'Разработка сайта'|trans}} &mdash; <a href="http://wide-web.spb.ru" target="_blank">{{'Компания'|trans}} &laquo;Wide-Web&raquo;</a></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    // $('.carousel').carousel();
    // $.each($('.carousel-inner'),function(){
    //     if($(this).find('.item').length>1)
    //     {
    //         $(this).parent().parent().addClass('slide').find('.carousel-control').show()
    //     }
    // })
    </script>
</body>
</html>