<div id="header" class="slider">
    <div class="container">
        <div id="element1">
            <a href="{{ path('index')}}"><img src="/bundles/cms/img/logo.png"></a>
        </div>
        <div id="element2">
            <p>{{'Слоган'|trans}}</p>
            <a href="{{ path('page_show',{'url':'заказ'}) }}"><button type="button" class="btn btn-primary btn-lg">{{'Текст на кнопке'|trans}}</button></a>
        </div>
        <div id="element3">
        </div>
        <div id="element4">
            <img class="hidden-sm hidden-xs" alt="" src="/bundles/cms/img/frames.png">
        </div>
    </div>
    {% if header.menu %}
    <div id="menu">
        {{ knp_menu_render('CMSBundle:Builder:mainMenu',{'style':'pills'}) }}
    </div>
    {% endif %}
</div>
