<div class="navbar-header">
    <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="button-text">Меню</span>
        <span class="sr-only">{{'Toggle navigation'|trans}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="navbar-collapse collapse navbar-ex1-collapse">
    {{ render(controller('CMSBundle:Block:mainMenu',{'url':app.request.pathInfo|default(null)})) }}
    {% if cms.header.search %}
    <form class="navbar-form navbar-right" action="{{ path('search') }}" role="search">
        <div class="form-group">
            <input type="text" class="form-control" data-provide="typeahead" data-source="[&quot;alabama&quot;,&quot;alaska&quot;]" autocomplete="off" placeholder="что ищем" name="q"{% if app.request.get('q') %} value="{{app.request.get('q')}}"{% endif %}>
        </div>
        <button type="submit" class="btn btn-default">{{'Искать'|trans}}</button>
    </form>
    {% endif %}
</div>
