{% if header.navbar.narrow and not header.navbar.fixed %}
<div class="container">
{% endif %}
    <div class="navbar header {% if header.navbar.inverse %}navbar-inverse{% else %}navbar-default{% endif %}{% if not header.navbar.narrow %} navbar-static-top{% endif %}{% if header.navbar.fixed %} navbar-fixed-top{% endif %}" role="navigation">
    {% if header.navbar.fixed or not header.navbar.narrow %}<div class="container">{% endif %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{{'Toggle navigation'|trans}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="telephone"><span></span>{{'телефон1'|trans}} <br> {{'телефон2'|trans}}</p>  
        <p class="worktime" ><span></span>{{'время работы'|trans}} <br> {{'выходные'|trans}}</p>
    </div>
    <div class="navbar-collapse navbar-right collapse navbar-ex1-collapse">
        {{ knp_menu_render('CMSBundle:Builder:mainMenu',{'style':'navbar'}) }}
        {% if header.search %}
        <form class="navbar-form navbar-right" action="{{ path('search') }}" role="search">
            <div class="form-group">

                <input type="text" class="form-control" data-provide="typeahead" data-source="[&quot;alabama&quot;,&quot;alaska&quot;]" autocomplete="off" placeholder="что ищем" name="q"{% if app.request.get('q') %} value="{{app.request.get('q')}}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-default">{{'Искать'|trans}}</button>
        </form>
        {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>