<ul class="nav">
{% for page in pages %}
	{{ _self.display_tree(page,loop) }}
{% endfor %}
</ul>

{% macro display_tree(page,loop) %}
	<li>{% if app.request.uri != page.path %}
            {% if url_by_path %}
                <a href="{{ path('page_show',{'url':page.path}) }}">{{ page.title }}</a>
            {% else %}
                <a href="{{ path('page_show',{'url':page.url}) }}">{{ page.title }}</a>
            {% endif %}
        {% else %}
            <span>{{ page.title }}</span>
        {% endif %}
	{% if page.__children|default() %}
		<ul class="nav menu_level_{{page.lvl}}">
	    {% for child in page.__children if child.enabled %}
	        {{ _self.display_tree(child,loop) }}
	    {% endfor %}
		</ul>
	{% endif %}
	</li>
{% endmacro %}