<ul class="nav left">
{% for page in pages %}
	{{ _self.display_tree(page,repo) }}
{% endfor %}
</ul>

{% macro display_tree(page,repo) %}
	<li>
		{% if app.request.uri != page.path and page.lvl != 1 and app.request.get('url')|trim('/') != page.path|trim('/') %}
			<a href="{{ path('page_show',{'url':page.path}) }}">{{ page.title }}</a>
		{% else %}
			<span{% if page.lvl != 1 %} class="current"{% endif %}>{{ page.title }}</span>
		{% endif %}
		{% set children = repo.children(page,true,'prior') %}
		{% if children|length > 0 %}
			<ul class="nav menu_level_{{page.lvl}}" id="children{{page.id}}">
			{% for child in children if child.enabled %}
				{{ _self.display_tree(child,repo) }}
			{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}