{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Редактирование страницы'|trans}}</h1>

    {{ form(edit_form, {'style':'horizontal'}) }}

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('manager_index') }}">
                {{'Назад'|trans}}
            </a>
        </div>
    </div>
    {% if entity.parent is not null %}
    <div class="row">
        <div class="col-md-10 col-md-push-2">
            {{ form(delete_form) }}
        </div>
    </div>
    {% endif %}


<script type="text/javascript">
// $('#alkr_cmsbundle_page_title').blur(function(){
//     if($('#alkr_cmsbundle_page_url').val()=='')
// 	   $('#alkr_cmsbundle_page_url').val($(this).val().replace(/ /g,'-').replace(/[^-а-яА-Я0-9\w]/g,'').toLowerCase())
// })
$('#alkr_cmsbundle_page_parent').change(function(){
    $('#alkr_cmsbundle_page_prior').val($(this).find('option:selected').data('next'))
})
$('form').submit(function(){
    $('#alkr_cmsbundle_page_category').attr('disabled',false)
})
CKEDITOR.config.protectedSource.push( /<script[\s\S]*?script>/g );
CKEDITOR.config.allowedContent = true;
$('.delete_button').click(function(e){
    if(confirm('Удалить страницу {{ entity.title }} и все дочерние?'))
        return true
    else
        return false
})
</script>
{% endblock %}
