{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Slide edit'|trans}}</h1>

    {{ form(edit_form,{'style':'horizontal'}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_slide') }}">
            {{'Назад'|trans}}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
