{% extends "CMSBundle:Templates:"~template|default('two_sidebars.html.twig') %}

{% block body -%}
    <h1>{{'Review edit'|trans}}</h1>

    {{ form(edit_form) }}

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('review') }}">
	            {{'Назад'|trans}}
	        </a>
	    </div>
	</div>
    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
