{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Баннеры'|trans}}</h1>

    {% for entity in entities %}
        <div class="row-fluid">
            {{ entity.title }} <a href="{{ path('manager_banner_edit', { 'id': entity.id }) }}">{{ icon('pencil') }}</a>
        </div>
    {% endfor %}

    <br/>
    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-primary" href="{{ path('manager_banner_new') }}">
                {{'Создать'|trans}}
            </a>
        </div>
    </div>
{% endblock %}
