{% extends 'CMSBundle:Base:base.html.twig' %}

{% block style %}
    {% stylesheets debug=false
        "@CMSBundle/Resources/assets/css/*"
        "@BraincraftedBootstrapBundle/Resources/sass/form.scss"
        "@CMSBundle/Resources/assets/templates/one_sidebar.scss"
        "@CMSBundle/Resources/public/css/*"
        "@CMSBundle/Resources/public/original_css/*"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="container my_container">
	<div class="sidebar left">
	{% block sidebar %}
		{% if sidebar.menu %}
		{{ render(controller('CMSBundle:Block:leftMenu')) }}
		{% endif %}
		{% if sidebar.search %}
		<h4>Поиск</h4>
		<form action="{{ path('search') }}" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="что ищем" name="q">
			</div>
			<button type="submit" class="btn btn-default">{{'Искать'|trans}}</button>
		</form>
		{% endif %}
		{% if sidebar.posts %}
		<h4>{{'Новости'|trans}}</h4>
		{{ render(controller('CMSBundle:Block:news', { 'max': 3, 'type': 'news', 'class': 'vertical news' })) }}
		{% endif %}
		{% if sidebar.banner %}
		<h4>{{'Баннеры'|trans}}</h4>
		{{ render(controller('CMSBundle:Block:banners', { 'max': 3, 'carousel':'true','slides':1 })) }}
		{% endif %}
		{% if sidebar.gallery %}
		<h4>{{'Галерея'|trans}}</h4>
		<div id="gallery">
			<a class="thumbnail">
				<img src=""/>
			</a>
		</div>
		<script type="text/javascript">
		function get_image(){
			$.ajax({
				type: "POST",
				url: "{{ path('gallery_image') }}",
				async: false,
				dataType: 'json',
				success: function(data){
					console.log(data)
					$('#gallery img').attr('src',data.path);
					$('#gallery a').attr('href',data.href);
				},
				complete :function(){
					setTimeout(function(){get_image();}, 5000);
				}
			});
		}
		get_image();
		</script>
		{% endif %}
	{% endblock %}
	</div>
	<div class="content">
		{% block body %}
		{% endblock %}
	</div>
	<div class="clearfix"></div>
</div>
<script type="text/javascript">
$('.sidebar.left>.nav>li').click(function(){
  menu = $(this).find(".menu_level_1")
  $('.sidebar.left .menu_level_1').stop().animate({
        left: "-"+(menu[0].offsetWidth+16)+'px'
    }, 500);
  if(menu[0].offsetLeft<0){
    $(this).parent().parent().parent().css('min-height',(menu.offset().top*1+menu.height()*1)+'px')
    menu.stop().animate({
        left: "0"
    }, 500);
  }
  else{
    $(this).parent().parent().parent().css('min-height','none')
    menu.animate({
        left: "-"+(menu[0].offsetWidth+16)+'px'
    }, 500);
  }
})
</script>
{% endblock %}